*{
	box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
}


@media screen and (max-width:800px){
  [class*="col-"] {
      width: 100% !important;
      text-align: center;
      

  }
  .para,.raw1,.details,.border2{
  	left: 0!important;
  	margin: 0%!important;
  	padding: 0%!important;


  }
	.border1{
		margin: 0%!important;
	}

	.para,.cover{
		padding:0%;

	}


	.details{
  	text-align: center;
  	margin-left:1%!important;
  	width:100%;
  	margin-top: 13%!important;
	}
	.border2>.imgs{
		text-align: center!important;
		width: 100%;

	}
	.cover{
		height:245vh!important;
		width: 100%;
		position: absolute;
	}

	#btn1,#btn2{
		float: left;
		margin:8% 3% 2% 4%!important;
		width: 90%;
		padding:2%;
		font-size: 10px!important;
		font-weight: bolder;
		letter-spacing: 1px;
		text-align: center!important;

	}
  #btn2{
		float: left;
		margin:0% 3% 2% 4%!important;
		width: 90%;
		padding:2%;
		font-size: 10px!important;
		font-weight: bolder;
		letter-spacing: 1px;
		text-align: center!important;

	}
	.raw1{
		top:0vh!important;
		margin-top:7%!important;
	}

	.raw1 > a{
		font-size:3vw!important;

	}

	#head1{
		font-size:3vw!important;

	}

	.hed{
		font-size: 2vw!important;
	}

	#btn2{
		padding-left:5%;
		padding-right:5%;
	}

}

@media screen and (min-width:800px) and (max-width:1390px){


#imgs1,#imgs2,#imgs3{
	width: 100%!important;
	height: 125px!important;

}

.border2 .imgs{   
	margin-right: 0%!important;

	
}
	.raw1{
		top:0vh!important;
		margin-top:4%!important;
	}

}

@media screen and (min-width:1390px) and (max-width:1560px){
	.raw1{
		top:0vh!important;
		margin-top:3%!important;
	}


}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
}


#para >p{
	color:white;
	float: left;
}


.ruler{
	border:3px solid white;
}

.cover{
	background-image: Url("../../Images/backgrounds/darkknight1.jpg");
	background-size: cover;
	height:150vh;
	width: 100%;
	position: relative;
}


.para{
	position: absolute;
	top:0;
	left: 20%;

}

#head1{
	color:white !important;
	font-size:1.3vw;
	background-color: red;
	padding: 1%;
	top: 0;
	position: absolute;
	width: 100%;
	padding-left: 2% !important;
	font-weight: bolder;
	margin-top: 0%;
}

.raw1{

	position: absolute;
	top:2vh;
	left: 20.5%;
	padding: 1%;
	padding-left: 1% !important;
	margin-top:.7%;
  background:rgb(0, 0, 0, 0.6)
}

.raw1 > a{
	color: white;
	font-size:1.5vw;
	font-weight: bolder;
  text-decoration-line: none;


}
.raw1 > a:hover{
	color: rgb(208, 42, 214);
}

.details{
	color: white;	
	float: left;
	margin-left: 19%;
	margin-top:5%;
}

.img,.hed,.dis,.dura,.catagory{
	float: left;

}
/*##################################################*/
.hed{
	margin-bottom: 0px;
	font-size: 1vw;
}
.dis{
	line-height: 1%;
	opacity: 0.8;

}
.dura{
	color: rgba(255, 255, 255, 0.6);
	margin-bottom: 3px;
}

.img{
	margin-right: 0px;



}


.details>h2,h3,h5{
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: "Ruda", sans-serif;
	font-weight: 400;
}
.details>h2,h3,h5{
	font-weight: 500;
}

.border1{
	border-style: solid;
	border-width: 2px 0px 2px 1px;
	border-color: #a6a6a6;
	margin-left: 20%;
	height: 5%;



}

#hed_info >h2{
	color: white;
	font-weight: 500;
	font-size: 16px;
	font-family: "Ruda", sans-serif;
	box-sizing: border-box;
	margin:0;
	width: 70px;
	padding-left:2%;
	padding-right:1%;
	padding-top: .8%;
	padding-bottom: .8%;
	background-color:rgb(208, 42, 214) ;
	border-radius: 7px;

	
}

.border2{
	border-style: solid;
	border-width: 1.5px 0px 0px 1px;
	border-color: #a6a6a6;
	margin-left: 20%;
	height: 50%;
	
}

#tit >h2{
	color: white;
	font-weight: bolder;
	font-size: 22px;
	margin-left: .8%;

}

#para>p{
	margin-left: .8%;
	margin-top: 0%;
	color: rgba(255, 255, 255, 0.7);
	margin-bottom: 4%;


}


.border2 .imgs{        /*uuuuuffffffffffffffffffuuuu*/
	margin-right: 0%;
	float: left;
	
}

.imgs >a,img:hover{
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
transition: 1s ease;
	
}

#btn1,#btn2{
	float: left;
	margin:8% 2% 5% 13%;
	padding:2%;
	font-size: 15px;
	font-weight: bolder;
	letter-spacing: 2px;
	color: white;
	transition: 0.5s;
	display: inline-block;
	border:1px solid #03e9f4;
	text-decoration: none;


}

#btn2{
	padding-left:5%;
	padding-right:5%;
}

#btn1:hover{
	background:#03e9f4;
	color: white;
	box-shadow: 0 0 5px #03e9f4,
							0 0 25px #03e9f4,
							0 0 50px #03e9f4,
							0 0 200px #03e9f4;
}
#btn2:hover{
	background:#03e9f4;
	color: white;
	box-shadow: 0 0 5px #03e9f4,
							0 0 25px #03e9f4,
							0 0 50px #03e9f4,
							0 0 200px #03e9f4;
}